@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
}

:root{
    height: 100%;
    width: 100%;
}

.App{
    height: 100%;
    width: 100%;
}




.topHeader{
    background-color: red;
    height: 19%;
}

.ballHolder{
    text-align: center;
    display: flex;
    justify-content: center;
}

.navBall{
    height: 10vh;
    z-index: 0;
    width: 6vw;
}

.ash{
    height: 14vh;
    width: 11vw;
}

.header{
    color: gold;
    position: absolute;
    z-index: 1;
    font-family: 'Pokemon Solid', sans-serif;
    -webkit-text-stroke: 2px black;
    font-size: 3vh;
}

.contactRow{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    width: 70vw;
    border: 1vw solid black;
    border-radius: 2vw;
    margin: 3vh;
}

.ballRow{
    height: 7vw;
    width: 7vw;
}

.xpRow{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    width: 70vw;
    margin: 3vh;
}

.xpPoke{
    position: relative;
    z-index: -1;
    height: 15vw;
    right: 11vw;
    bottom: 7vw;
}

.pokeHolder{
    position: absolute;
    height: 10vw;
}
.lineOne{
    width: 100%;
    background-color: black;
    border: solid black 2vw;
}

.circle{
    position: relative;
    width: 17vw;
    height: 17vw;
    right: 1vw;
    border: solid black 2vw;
    padding-left: 5px;
    border-radius: 10vw;
    background-color: white;
}

.lineTwo{
    width: 100%;
    background-color: black;
    border: solid black 2vw;
}

.portIntro{
    -webkit-text-stroke: 3px black;
}

.myTeamHolder{
    text-align: center;
    display: flex;
}
.backgroundBalls{
    position: absolute;
    height: 6vw;
    z-index: 0;
}

.cards{
    display: flex;
    justify-content: space-around;
    width: 90vw;
    padding-top: 10vh;
    flex-wrap: wrap;
}

.leftCard{
    min-width: fit-content;
    width: 25vw;
    border: 1vw solid black;
    border-radius: 2vw;
    height: auto;
    padding-bottom: 2vh;
}

.middleCard{
    height: auto;
    width: 27vw;
    border: 1vw solid black;
    border-radius: 2vw;
}

.rightCard{
    width: 25vw;
    border: 1vw solid black;
    border-radius: 2vw;
    text-align: center;
}

.insideCard{
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pokeCard{
    margin-top: 2vh;
    width: 90%;
    min-height: 80%;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokeIcon{
    border: 2px solid black;
    width: 10vw;
    height: 10vw;
    margin-top: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokeIconPic{
    width: 20vw;
}

.letters{
    font-family: "Pokemon Solid", sans-serif;
    color: gold;
    -webkit-text-stroke: 3px black;
    display: flex;
    position: absolute;
    padding-bottom: 25%;
    transform-origin: bottom center;
    font-size: 10vh;
}
.upRight{
    display: flex;
    justify-content: space-around;
    width: 18vw;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 2vw;
}

#letter1{
    transform: rotate(-55deg);
}
#letter2{
    transform: rotate(-50deg);
}
#letter3{
    transform: rotate(-45deg);
}
#letter4{
    transform: rotate(-40deg);
}
#letter5{
    transform: rotate(-35deg);
}
#letter6{
    transform: rotate(-30deg);
}
#letter7{
    transform: rotate(-22deg);
}
#letter8{
    transform: rotate(-15deg);
}
#letter9{
    transform: rotate(-10deg);
}
#letter10{
    transform: rotate(-05deg);
}
#letter11{
    transform: rotate(0deg);
}
#letter12{
    transform: rotate(08deg);
}
#letter13{
    transform: rotate(10deg);
}
#letter14{
    transform: rotate(20deg);
}
#letter15{
    transform: rotate(25deg);
}
#letter16{
    transform: rotate(30deg);
}
#letter17{
    transform: rotate(35deg);
}
#letter18{
    transform: rotate(40deg);
}
#letter19{
    transform: rotate(44deg);
}
#letter20{
    transform: rotate(49deg);
}
#letter21{
    transform: rotate(52deg);
}
#letter22{
    transform: rotate(55deg);
}

.trainerCard{
    min-width: 70vw;
    border: solid black 2px;
    border-radius: 10px;
    background-color: rgb(245, 245, 225);
}
.cardHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(202, 202, 202);
    margin-top: 2vh;
    height: 8vh;
    margin-bottom: 1vh;
    font-size: 3vh;
}
.idOnCard{
    background-color: white;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    text-align: center;
    height: 5vh;
   
}
.cardBody{
    display: flex;
    width:100%
}
.leftSide{
    width: 50%;
    padding-left: 1vw;
    display: flex;
    flex-direction: column;
}

ul{
    list-style-type: none;
}

.leftSide ul li{
    height: 5vh;
    font-size: 2vh;
}
.bulletCircle{
    height: 4vh;
}
.star{
    height: 4vh;
}

.rightSide{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.badges{
    background-color: rgb(202, 202, 202);
    min-height: 9vh;
    color:white;
    margin-bottom: 2vh;
    padding-bottom: 1vh;
}

.badgeBorder{
    min-height: 5vh;
    min-width: 5vh;
    border: solid white 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemonTeam{
    margin-top: 6vh;
    margin-bottom: 3vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pokeCardTeam{
    display: flex;
    padding: 10px;
    border: black 2px solid;
    border-radius: 10px;
    min-height: 20vh;
    margin-top: 2vh;
}

.pokeCardTeam ul li{
    list-style-type: disc;
}

.signup{
    width: 50vw;
}

button{
    font-weight: 700;
    padding: 0;
    border: none;
    background: none;
}

/* reactive design */
@media(max-width:820px){
    .letters{
        font-size: 5vh;
        padding-bottom:30%;
    }
    .upRight{
        font-size: 1vh;
        padding-right: 2vw;
        width: 21vw;
    }
    .header{
        font-size: 2vh;
    }
    .modals{
        width: 45vw;
        height: fit-content;
    }

    .myTeamHolder{
        flex-wrap: wrap;
        justify-content: center;
    }
    .backgroundBalls{
        height: 12vh;
    }
    .cards{
        flex-direction: column;
        align-items: center;
    }

    .leftCard{
        width: 80vw;
        margin-bottom: 2vh;
    }

    .middleCard{
        width: 80vw;
        margin-bottom: 2vh;
    }

    .rightCard{
        width: 80vw;
        margin-bottom: 2vh;
    }

    .pokeIcon{
        width: 30vw;
        height: 30vw;
    }

    .pokeCard{
        font-size: 3vh;
    }
    .pokeCard h5{
        font-size:4vh;
    }

    .pokeCard h6{
        font-size: 3vh;
    }

    .contactRow div{
        flex-wrap: wrap;
    }

    .cardBody{
        height: fit-content;
    }

    .trainerCard{
        width: 90vw;
    }
    .releasePoke{
        height: 15vh;
    }

    .xpRow{
        font-size: 20px;
    }
    .xpPoke{
        height: 17vw;
    }
}

/* this is for iphone XR */

@media(max-width:414px){
    .letters{
        font-size: 4vh;
        padding-bottom:40%;
    }
    .upRight{
        font-size: 10px;
        padding-right: 2vw;
        width: 21vw;
    }
    .header{
        font-size: 2vh;
    }
    .modals{
        width: 45vw;
        height: fit-content;
    }

    .myTeamHolder{
        flex-wrap: wrap;
        justify-content: center;
    }
    .backgroundBalls{
        height: 12vh;
    }
    .cards{
        flex-direction: column;
        align-items: center;
    }

    .leftCard{
        width: 80vw;
        margin-bottom: 2vh;
    }

    .middleCard{
        width: 80vw;
        margin-bottom: 2vh;
    }

    .rightCard{
        width: 80vw;
        margin-bottom: 2vh;
    }

    .pokeIcon{
        width: 30vw;
        height: 30vw;
    }

    .contactRow div{
        flex-wrap: wrap;
    }

    .cardBody{
        height: fit-content;
    }

    .leftSide{
        width: 70%;
    }

    .rightSide{
        width: min-content;
    }

    .xpRow{
        font-size: 20px;
    }
    .xpPoke{
        height: 17vw;
    }
}





/* These are goin to be media queries to make site more responsive */
@media(max-width:376px){
    .letters{
        font-size: 4vh;
        padding-bottom:40%;
    }
    .upRight{
        font-size: 10px;
        padding-right: 2vw;
        width: 21vw;
    }
    .header{
        font-size: 2vh;
    }
    .modals{
        width: 45vw;
        height: fit-content;
    }

    .myTeamHolder{
        flex-wrap: wrap;
        justify-content: center;
    }
    .backgroundBalls{
        height: 12vh;
    }
    .cards{
        flex-direction: column;
        align-items: center;
    }

    .leftCard{
        width: 80vw;
        margin-bottom: 2vh;
    }

    .middleCard{
        width: 80vw;
        margin-bottom: 2vh;
    }

    .rightCard{
        width: 80vw;
        margin-bottom: 2vh;
    }

    .pokeIcon{
        width: 30vw;
        height: 30vw;
    }

    .contactRow div{
        flex-wrap: wrap;
    }

    .cardBody{
        height: fit-content;
    }

    .leftSide{
        width: 70%;
    }

    .rightSide{
        width: min-content;
    }
    .xpRow{
        font-size: 20px;
    }
    .xpPoke{
        height: 17vw;
    }
}


